# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout
*.dart text
*.yaml text
*.yml text
*.json text
*.md text
*.txt text
*.xml text
*.html text
*.css text
*.js text
*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.apk binary
*.jks binary
*.keystore binary
*.so binary
*.jar binary

